[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdParty/bgfx"]
	path = 3rdParty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rdParty/bx"]
	path = 3rdParty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdParty/bimg"]
	path = 3rdParty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rdParty/uWebSockets"]
	path = 3rdParty/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "3rdParty/uSockets"]
	path = 3rdParty/uSockets
	url = https://github.com/uNetworking/uSockets.git
[submodule "3rdParty/bullet3"]
	path = 3rdParty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "3rdParty/brtshaderc"]
	path = 3rdParty/brtshaderc
	url = https://github.com/fredakilla/brtshaderc.git
[submodule "3rdParty/mongo-c-driver"]
	path = 3rdParty/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
