[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdParty/bgfx"]
	path = 3rdParty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rdParty/bx"]
	path = 3rdParty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdParty/bimg"]
	path = 3rdParty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rdParty/cpp-httplib"]
	path = 3rdParty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
